@font-face {
	font-family: 'Walkway_SemiBold';
	src: url('./Walkway_SemiBold.eot');
	src: local('Walkway_SemiBold'), url('./Walkway_SemiBold.woff') format('woff'), url('./Walkway_SemiBold.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.Walkway_SemiBold {
	font-family: 'Walkway_SemiBold' !important;
}

/* Font downloaded from FontsForWeb.com */